.not-available, .not-available:hover {
    color: #cccccc;
}

#resource-list {
    position: relative;
    width: 300px;
    height:100%;
    border-right: 1px solid lightgrey;
}

.sticky-header {
    background-color: white;
    padding: 10px 10px 0px 10px;
    margin: 0;
}