
.resource-list {
    border: solid lightgray 1px;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.booking-component-stack { 
    height: 100%;
    padding: 10px 10px;
}

.booking-component-header h1 {
    padding: 0;
    margin: 0;
}

.booking-component-footer button {
    margin: 10px
}